.card {

    width: 100px;
    height: 100px;
    background-color: blue;
    float: left;
    display: block;
    position: relative;
    /* text-align: left; */
}
.game {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    grid-template-rows: 50px, 50px, 50px, 50px;
    vertical-align: middle;
    float:left;
}

.menu {
 
  align-items: center;
  background-color:rgb(1, 173, 53);
  float:left;
  margin-left: 25%;
}

.menu2 {
  align-items: center;
  background-color:rgb(245, 245, 245);
  float:left;
}

.menu3 {
  align-items: center;
  background-color:rgb(165, 176, 235);
  float:left;
  margin-left: 25%;
}

.all {
  align-items: center;
  background-color:rgb(173, 161, 1);
  float:none;
  margin-left: 10%;
}

.audio {
  align-items: center;
  background-color:rgb(173, 161, 1);
  float: none;

}

.button1 {
  background-color: lightsteelblue;
  color: darkblue;
  border: 2px solid #008CBA;
  height: 40px;
  width: 120px;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
  height: 40px;
  width: 120px;
}


#a {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #b {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #c {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  #d {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #e {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #f {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .result {
    text-align: center;
    padding: 1em;
    border: 0.5em solid red;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    position: absolute;
    font-size: 3.0em;
    background-color:rgb(83, 158, 14);
    vertical-align: middle;
  }