.card {

    width: 100px;
    height: 100px;
    background-color: blue;
    display: block;
    position: relative;
}
.game {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    grid-template-rows: 100px 100px 100px 100px;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(1, 173, 53);
  margin: 0 auto;
  width: fit-content;
}

.menu2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(245, 245, 245);
}

.menu3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(165, 176, 235);
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(173, 161, 1);
  margin: 0 auto;
  width: fit-content;
}

.audio {
  align-items: center;
  background-color:rgb(173, 161, 1);
  float: none;

}

.button1 {
  background-color: lightsteelblue;
  color: darkblue;
  border: 2px solid #008CBA;
  height: 40px;
  width: 120px;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
  height: 40px;
  width: 120px;
}


#a {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #b {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #c {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  #d {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #e {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #f {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 2em;
    border: 0.5em solid red;
    width: 400px;
    height: auto;
    border-radius: 20px;
    font-size: 2.0em;
    background-color:rgb(83, 158, 14);
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }

  #replay {
    text-align: center;
    margin-top: 1em;
  }

  #replay button {
    margin: 0 auto;
  }